@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "bootstrap/scss/bootstrap";

@import "../shared/breakpoints";
@import "../shared/colors";
@import "../shared/fonts";
// Notify; Used to notify user
@import "../../shared/common/notify";

html, body{ position: relative; left:0px; top:0px; width: 100%; height: 100%; margin:0px; padding:0px; }

.auth-wrapper{
    position: relative; width: 100%; height: 100%; display: flex; justify-content: space-between; gap: 24px;
    .aw-form-wrapper{
        position: relative; width: calc(50% - 12px); height: 100%; display: flex; justify-content: center; overflow-y: auto;
        @include down($b-1280) {
            width: 100%;
        }
        @include down($b-768) {
            width: calc(100% - 40px); left: 20px; padding: 24px 0px;
        }

        .aw-form{
            position: relative; width: 560px; min-height: 120px; display: flex; flex-direction: column; gap: 24px;
            margin: auto 0;
            .aw-form-logo-wrapper{
                position: relative; width: 100%;  margin-bottom: 96px; display: none;
                img{
                    height: 36px;
                }
            }
            .aw-form-header{
                position: relative; display: flex; flex-direction: column; gap: 8px;
                h1, p{ margin: 0px; padding: 0px; }
                @include down($b-768) {
                    h1{font-size: 24px;}
                    p{font-size: 14px;}
                }
            }

            .aw-form-form{
                position: relative; width: 100%; display: flex; flex-direction: column; gap: 16px;
                @import "../shared/common/form";

                // Separation line "OR"
                .separation-line{
                    position: relative; width: 100%; text-align: center;
                    p{
                        display: inline-block;
                        background: #fff; /* Form background color */
                        padding: 0 16px;  /* Space around "ILI" */
                        position: relative; z-index: 1; font-weight: 600;
                    }

                    &::before,
                    &::after {
                        content: ""; position: absolute; top: 50%; width: 100%; height: 2px; background: #e8e7ea; z-index: 0;
                    }
                    &::before { left: 0; }
                    &::after { right: 0; }
                }

                // Join with google or apple
                .social-networks-wrapper{
                    position: relative; width: 100%; display: flex; flex-direction: column; gap: 16px;
                    a{ position: relative; width: 100%; display: flex; }
                    .social-network{
                        position: relative; width: 100%; display: flex; justify-content: center; gap: 16px; align-items: center;
                        padding: 12px 16px; border: 2px solid #e8e7ea; border-radius: 12px;
                        @include down($b-768) {
                            padding: 8px 16px;
                        }
                        img{ height: 16px; }
                        p{
                            font-weight: 400; color: #000;
                        }
                    }
                }

                // Sign up
                .sign-up-wrapper{
                    position: relative; width: 100%; display: flex; justify-content: center; gap: 8px;
                    a{
                        color: $primary;
                    }
                }
            }
        }
    }
    .aw-info-wrapper{
        position: relative; width: calc(50% - 12px); height: 100%; padding: 96px 96px; display: flex; flex-direction: column;
        background: linear-gradient(135deg, #8A7368 0%, #2B2B2B 100%);

        @include down($b-1280) {
            display: none;
        }

        .aw-info-intro{
            position: relative; width: 100%; display: flex; flex-direction: column; gap: 24px; align-items: flex-start; flex:1; justify-content: center;

            .aw-ii-inner{
                position: relative; display: flex; flex-direction: column; gap: 24px; align-items: flex-start;
                .auth-logo{ height: 42px; width: auto !important; max-width: auto; object-fit: contain; }
                .logo-image{
                    position: relative; height: 120px; margin-left: -20px;
                }
                p, h1{
                    color: #FFFFFF;
                }
            }
        }

        .aw-info-sites{
            position: relative; width: 100%; display: flex; flex-direction: column; gap: 16px;
            .aw-is-header{
                position: relative; width: 100%; display: flex; justify-content: space-between; gap: 16px; align-items: center;
                p{ color: #FFFFFF; font-weight: bold; text-transform: uppercase; }
                .line{
                    position: relative; flex: 1; height: 1px; background: #e8e7ea;
                }
            }
            .aw-is-links{
                position: relative; display: flex; gap: 16px; flex-wrap: wrap;
                a{
                    color: #FFFFFF; font-weight: light;
                }
            }
        }
    }
}
