// Primary and secondary colors

$primary: #8A7368;
$primaryHover: #756158;     // Used for hover state
$primaryGrad: #B7A39A;      // Used for gradient

$secondary: #33B3AE;

$success: #33B3AE;
$danger: #C84040;
