@import url("https://use.typekit.net/xeg4cvy.css");

@font-face {
    font-family: 'Inter';
    src: url('/files/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/** Reset to default values */
h1, h2, h3, h4, h5, h6, p, span, a, label, small, input{ margin: 0px; padding: 0px; font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; }

/** Set a default values */
a {
    color: inherit;           /* koristi boju teksta roditelja */
    text-decoration: none;    /* makni underline */
}

a:hover {
    color: inherit;           /* zadrži istu boju i na hover */
    text-decoration: none;    /* makni underline i na hover */
}

// Class that cannot be selected
.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE/Edge */
}
