.aw-ff-input-wrapper{
    position: relative; width: 100%; display: flex; flex-direction: column; gap: 8px;
    @media only screen and (max-width: 768px) {
        gap: 4px;
    }
    &.right-btn{
        justify-content: flex-end; flex-direction: row;
        button{
            width: auto; padding-left: 12px 24px;
        }
    }
    // Full input wrapper
    .input-wrapper{
        position: relative; width: 100%; display: flex; align-items: center;
        padding: 12px 16px; border: 2px solid #e8e7ea; border-radius: 12px; transition: 0.2s all ease-in-out;

        @media only screen and (max-width: 768px) {
            padding: 8px 16px;
        }

        &:focus-within {
            border-color: $primary;
            box-shadow: 0 0 8px rgba(138, 115, 104, 0.5);
            svg {
                path{
                    fill: $primary;
                }
            }
        }
        svg{
            position: absolute; left: 16px; height: 16px; transition: 0.2s all ease-in-out;
            path{ fill: #77787f; }
        }
        input, textarea{
            position: relative; width: 100%; background: none; border: none; padding-left: 24px;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
                color: $primary;
            }
        }
        textarea{
            height: 120px; resize: none; padding-left: 0px;
        }
    }

    // Simple forgot password link
    .forgot-password{
        position: relative; width: 100%; display: flex; justify-content: flex-end;
        a{
            color: $primary;
        }
    }

    button{
        position: relative; width: 100%; border: none; background: $primary; color: #FFFFFF; border-radius: 12px;
        padding: 12px 16px; text-transform: uppercase; transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.15s ease;
        @media only screen and (max-width: 800px) {
            padding: 8px 16px;
        }
        &:hover {
            background: $primaryHover;
            box-shadow: 0 4px 12px $primaryGrad;
        }
    }

    span{
        color: $danger; font-size: 12px;
        &.success{ color: $success; }
    }
}

/** 2FA */
.two-fa-wrapper{
    position: relative; width: 100%; display: flex; gap: 16px;
    @media only screen and (max-width: 768px) {
        gap: 16px; justify-content: space-between;
    }
    input{
        position: relative; border: 2px solid #e8e7ea; border-radius: 12px; transition: 0.2s all ease-in-out; width: auto;
        min-width: 0; flex: 1 1 0; aspect-ratio: 1 / 1; text-align: center; font-size: 30px;

        @media only screen and (max-width: 768px) {
            // max-width: 56px; // 👈 KLJUČNO (sprječava rast)
            font-size: 16px; padding: 16px; width: 44px; height: 44px;
        }
        &:focus {
            outline: none !important;
            border-color: $primary;
            box-shadow: 0 0 8px rgba(138, 115, 104, 0.5);
            color: $primary;
        }
    }
}
